<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="DataLayer.DataLayer" android:installLocation="auto">
	<uses-feature android:name="android.hardware.camera" android:required="false" />
	<application android:label="Heart Manager" android:theme="@android:style/Theme.Holo.NoActionBar"></application>
	<uses-sdk android:minSdkVersion="18" />
</manifest>